<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Busqueda"></activity>
        <activity android:name=".CrearBusqueda" />
        <activity android:name=".NuevasOfertas" />
        <activity android:name=".Opciones" />
        <activity android:name=".TrabajosFinalizados" />
        <activity android:name=".Comentarios" />
        <activity android:name=".VerOferta" />
        <activity android:name=".MisOfertas" />
        <activity android:name=".OfertasEmpleos" />
        <activity android:name=".VistaCurriculum" />
        <activity android:name=".EditarInformacion" />
        <activity
            android:name=".MenuOpciones"
            android:label="@string/title_activity_menu_opciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Registro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>